beautifulsoup4
Django==4.2.13
django-filter
djangorestframework
Fiona
geopandas
lxml
Markdown
numpy==1.21.4
pandas
Pillow
pyproj
six
xmltodict
psycopg2-binary
django-allauth==0.54.0
setuptools==56.0.0
gdal==3.2.3
affine
opencv-python
scikit-video
matplotlib
django_compressor
MetPy
wiki