beautifulsoup4
Django==4.2.13
django-filter
djangorestframework
Fiona
geopandas
lxml
Markdown
numpy
pandas
Pillow
pyproj
six
xmltodict
psycopg2-binary
setuptools
gdal
affine
opencv-python
scikit-video
matplotlib
django_compressor
MetPy
wiki
django-allauth==0.44.0