beautifulsoup4
Django==3.0.14
django-filter
djangorestframework
Fiona
geopandas
lxml
Markdown
numpy
pandas
Pillow
pyproj
six
xmltodict
psycopg2-binary
django-allauth
gdal
affine
opencv-python
scikit-video
tephigram
matplotlib
django_compressor
